.businessContainer{
    background: rgb(228, 159, 129);
    width: 100%;
    min-height: 80vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.businessContainer h1{
    margin-top: 10px;
    padding: 10px;
    background: black;
    color: aliceblue;
    border-radius: 8px;
}

.Map_container1 img{
    width: 300px;
    border-radius: 7px;
}